<div class="container-fluid">

  <div class="row" id="bootstrap-row">
    <div class="col-md-4 panel">
      <div class="col-md-12 scroll-panel">
        <!-- <div *ngIf="resourceName == 'Lambda'"> Its Lambda </div> -->
        <div class="row">
          <div class="col-md-12 opaque-black inner-panel">
            <form>
              <div class="form-group">
                <label for="lambda">{{ resourceName }} Name:</label>
                <input class="form-control " id="lambda" [(ngModel)]="resName" name="resNameEditBox">
              </div>
              <button [disabled]="!resName" type="submit" class="btn btn-default" (click)="loadLambdaTags()">
                {{ loadButtonText }}
                <span *ngIf="loadButtonText == 'Loading'">
                  <i class="fa fa-spinner fa-spin"></i>
                </span>
              </button>
            </form>
          </div>
        </div>
        <div class="row" style="margin-top: 20px">
          <div class="col-md-12 opaque-black inner-panel" *ngIf="errMsgLoad">
            <div class="alert alert-danger">{{errMsgLoad}}</div>
          </div>
          <div class="col-md-12 opaque-black inner-panel" *ngIf="errMsgSave">
              <div class="alert alert-danger">{{errMsgSave}}</div>
            </div>
          <div class="col-md-12 opaque-black inner-panel" *ngIf="wasCallSuccess">
            <div class="alert alert-success">Congrats! Tags updated in the cloud!</div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6  panel">
      <div *ngIf="isWorkingState()" class="col-md-12 inner-panel opaque-black">
        <div>
          <button (click)="addBlankTagRow()" class="btn btn-outline-light btn-sm" style="margin-top: 5px">
            Add Tag
          </button>
          <div *ngIf="tags.length">
            <div class="form-inline">
              <!-- <label class="tagBoxTitle">Name</label>
                  <label class="tagBoxTitle">Value</label> -->
              <input disabled class="form-control tagBoxTitle" value="Name">
              <input disabled class="form-control tagBoxTitle" value="Value">
            </div>
            <form #f="ngForm">
              <div class="scroll-tags-panel form-group">
                <div class="form-inline" *ngFor="let tag of tags; let i=index">
                  <input required class="form-control tagBox" [(ngModel)]="tag.name" [name]="tag.name + '_' + i">
                  <input required class="form-control tagBox" [(ngModel)]="tag.value" [name]="tag.value + '_' + i+1">
                  <button tabindex="-1" class="form-control btn-sm tagRemoveBtn" (click)="removeTagRow(tag)">X</button>
                </div>
              </div>

              <button type="submit" [disabled]="!f.valid" (click)="saveLambdaTags()" class="btn btn-default">
                {{ saveButtonText }}
                <span *ngIf="saveButtonText == 'Saving'">
                  <i class="fa fa-spinner fa-spin"></i>
                </span>
              </button>
              <!-- <span class="error" *ngIf="!f.valid"> Buddy! Do you see any field in red above. Fix it first!</span> -->
            </form>
          </div>
          <div *ngIf="tags.length == 0" style="margin-top: 15px">
            No tags found!
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-2 panel">
      <div *ngIf="isWorkingState()" class="col-md-12 inner-panel opaque-black scroll-panel">
        History
        <div *ngIf="pastTags.length" style="margin-top: 15px">
          <div class="form-group">
            <div class="form-inline" *ngFor="let tag of pastTags; let i=index">
              <button [disabled]="checkAlreadyUsed(tag)" (click)="addTagRow(tag.name,tag.value)" class="btn btn-outline-light btn-sm" style="margin-top: 10px">
                {{tag.name}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>